<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Construction Exam Project</title>
</head>
<body>
<form method="post" action="/createStudent">
  <label>First Name: </label>
  <input name="first_name" type="text"><br><br>
  <label>Second Name:</label>
  <input name="second_name" type="text"><br><br>
  <label>Age: </label>
  <input name="age" type="number"><br><br>
  <label>Class: </label>
  <input name="group" type="text"><br><br>
  <label>Phone number: </label>
  <input name="phone_number" type="tel"><br><br>
  <label>Email: </label>
  <input name="email" type="email"><br><br>
  <label>Address: </label>
  <input name="address" type="text"><br><br>
  <label>Supervisior: </label>
  <select name="supervisior_id" >
    <div th:each="supervisior:${listOfSupervisiors}">
    <option th:text="'Teacher'+${supervisior.supervisior_id}" th:value="${supervisior.supervisior_id}"></option>
    </div>
  </select><br><br>
  <input type="submit" value="Create Student">
</form>
<div th:each="students:${listOfStudents}">
<form action="/updateStudent" method="post" >
  <input name="student_id" type="hidden" th:value="${students.student_id}">
  <label>First Name: </label>
  <input name="first_name" type="text" th:value="${students.first_name}">
  <label>Second Name:</label>
  <input name="second_name" type="text" th:value="${students.second_name}">
  <label>Age: </label>
  <input name="age" type="number" th:value="${students.age}">
  <label>Class: </label>
  <input name="group" type="text" th:value="${students.group}">
  <label>Phone number: </label>
  <input name="phone_number" type="tel" th:value="${students.phone_number}" >
  <label>Email: </label>
  <input name="email" type="email" th:value="${students.email}">
  <label>Address: </label>
  <input name="address" type="text" th:value="${students.address}">
  <label>Supervisior: </label>
  <select name="supervisior_id" th:value="${students.supervisior_id}">
    <div th:each="supervisior:${listOfSupervisiors}">
      <option th:selected="${supervisior.supervisior_id}==${students.supervisior_id} ? true : false" th:text="'Teacher'+${supervisior.supervisior_id}" th:value="${supervisior.supervisior_id}"></option>
    </div>
  </select>
  <input value="Update" type="submit" >
</form>
  <a th:href="@{'/deleteStudent/'+${students.student_id}}"><button onclick="return confirmDelete()">Delete</button></a>
</div>
</body>
<script th:inline="javascript">
  function confirmDelete() {

    var x = confirm("Are you sure you want to delete?");
    if (x)
      return true;
    else
      return false;

  }
</script>
</html>